In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\laragon\bin\python\python-3.10\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\laragon\bin\python\python-3.10\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\laragon\bin\python\python-3.10\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\laragon\bin\python\python-3.10\lib\site-packages (from nltk) (2024.4.16)
Requirement already satisfied: tqdm in c:\laragon\bin\python\python-3.10\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\laragon\bin\python\python-3.10\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install Sastrawi

Requirement already satisfied: Sastrawi in c:\laragon\bin\python\python-3.10\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import re
import nltk
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import numpy as np

In [2]:
filename = "Dataset Cleaning/Result Dataset Cleaning.csv"

In [3]:
df = pd.read_csv(filename, header=0)
df.head(5)

,Berita,Label,Category_id
0,Terduga Pelaku Kekerasan Terhadap Anak Isa Baj...,orang asing,4
1,Miris! 6 Anak di Jakarta Jadi Korban Kekerasan...,keluarga,0
2,Polisi Amankan Oknum Guru SD di Sinjai Diduga ...,tenaga pendidik,2
3,Anak Ditenggelamkan Ibu Tambah Catatan Hitam K...,keluarga,0
4,Tersangka Bullying SMA Internasional Dijerat U...,teman,3

In [4]:
df

,Berita,Label,Category_id
0,Terduga Pelaku Kekerasan Terhadap Anak Isa Baj...,orang asing,4
1,Miris! 6 Anak di Jakarta Jadi Korban Kekerasan...,keluarga,0
2,Polisi Amankan Oknum Guru SD di Sinjai Diduga ...,tenaga pendidik,2
3,Anak Ditenggelamkan Ibu Tambah Catatan Hitam K...,keluarga,0
4,Tersangka Bullying SMA Internasional Dijerat U...,teman,3
...,...,...,...
970,"Siswa SMP Unismuh Jadi Korban 'Bully', Terbong...",teman,3
971,"Anak Perempuan 15 Tahun Dicabuli Ayah Tiri, Te...",keluarga,0
972,Anaknya Memar-memar saat Belajar di Yayasan An...,pengasuh,1
973,Viral Video Penganiayaan Terhadap Anak Beredar...,keluarga,0
974,"Anak Umur 12 Tahun Dianiaya Suharto di Wajo, O...",orang asing,4

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Tahap Prepocessing

## Punctuation Removal

In [7]:
print(df.dtypes)

Berita         object
Label          object
Category_id     int64
dtype: object

In [8]:
import string
string.punctuation

# defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree = re.sub(r'[^a-zA-Z\s]', '', text)
    return punctuationfree
    
# storing the puntuation free text
df['Berita']= df['Berita'].apply(lambda x:remove_punctuation(x))
df.head()

,Berita,Label,Category_id
0,Terduga Pelaku Kekerasan Terhadap Anak Isa Baj...,orang asing,4
1,Miris Anak di Jakarta Jadi Korban Kekerasan A...,keluarga,0
2,Polisi Amankan Oknum Guru SD di Sinjai Diduga ...,tenaga pendidik,2
3,Anak Ditenggelamkan Ibu Tambah Catatan Hitam K...,keluarga,0
4,Tersangka Bullying SMA Internasional Dijerat U...,teman,3

In [9]:
# Save to CSV
df.to_csv('punctuation_removal_all.csv', index=False)

## Case Folding

In [10]:
df = df.map(lambda x: x.lower() if isinstance(x, str) else x)
df.head(10)

,Berita,Label,Category_id
0,terduga pelaku kekerasan terhadap anak isa baj...,orang asing,4
1,miris anak di jakarta jadi korban kekerasan a...,keluarga,0
2,polisi amankan oknum guru sd di sinjai diduga ...,tenaga pendidik,2
3,anak ditenggelamkan ibu tambah catatan hitam k...,keluarga,0
4,tersangka bullying sma internasional dijerat u...,teman,3
5,terekamnya jerit ketakutan balita saat disiks...,keluarga,0
6,dalih ibu muda bunuh anak tiri masih bocah geg...,keluarga,0
7,fakta isa bajaj cabut laporan kekerasan terha...,teman,3
8,anak jakarta jadi korban kekerasan dalam pek...,keluarga,0
9,bocah di jakut terluka diduga kena sabet sekur...,orang asing,4

In [11]:
# Save to CSV
df.to_csv('case_folding_all.csv', index=False)

## Tokenization

In [12]:
import nltk
from nltk.tokenize import word_tokenize

df['Berita'] = df['Berita'].apply(word_tokenize)
df.head()

,Berita,Label,Category_id
0,"[terduga, pelaku, kekerasan, terhadap, anak, i...",orang asing,4
1,"[miris, anak, di, jakarta, jadi, korban, keker...",keluarga,0
2,"[polisi, amankan, oknum, guru, sd, di, sinjai,...",tenaga pendidik,2
3,"[anak, ditenggelamkan, ibu, tambah, catatan, h...",keluarga,0
4,"[tersangka, bullying, sma, internasional, dije...",teman,3

In [13]:
# Save to CSV
df.to_csv('tokenization_all.csv', index=False)

## Stopword Removal

In [14]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('indonesian'))
df['Berita'] = df['Berita'].apply(lambda x: [word for word in x if word not in stop_words])
df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dwice\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Berita,Label,Category_id
0,"[terduga, pelaku, kekerasan, anak, isa, bajaj,...",orang asing,4
1,"[miris, anak, jakarta, korban, kekerasan, anak...",keluarga,0
2,"[polisi, amankan, oknum, guru, sd, sinjai, did...",tenaga pendidik,2
3,"[anak, ditenggelamkan, catatan, hitam, kekeras...",keluarga,0
4,"[tersangka, bullying, sma, internasional, dije...",teman,3

In [15]:
# Save to CSV
df.to_csv('stopword_removal_all.csv', index=False)

## Stemming

In [16]:
# Initialize the Stemmer Factory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# List of words to exclude from stemming
exception_words = {"pendidik", "pengasuh", "pembantu"}

# Define a function to perform customized stemming
def stem_words(words):
    stemmed_words = []
    for word in words:
        if word in exception_words:  # Check if the word is in the exception list
            stemmed_words.append(word)  # Keep the word as is
        else:
            stemmed_words.append(stemmer.stem(word))  # Stem other words
    return stemmed_words

# Apply the function to the 'text' column and create a new column 'stemmed_text'
df['Berita'] = df['Berita'].apply(stem_words)

df.head(10)

,Berita,Label,Category_id
0,"[duga, laku, keras, anak, isa, bajaj, serah, p...",orang asing,4
1,"[miris, anak, jakarta, korban, keras, anak, ja...",keluarga,0
2,"[polisi, aman, oknum, guru, sd, sinjai, duga, ...",tenaga pendidik,2
3,"[anak, tenggelam, catat, hitam, keras, anak, j...",keluarga,0
4,"[sangka, bullying, sma, internasional, jerat, ...",teman,3
5,"[rekam, jerit, takut, balita, siksa, ayah, cia...",keluarga,0
6,"[dalih, muda, bunuh, anak, tiri, bocah, gegara...",keluarga,0
7,"[fakta, isa, bajaj, cabut, lapor, keras, putri...",teman,3
8,"[anak, jakarta, korban, keras, pekan, langkah,...",keluarga,0
9,"[bocah, jakut, luka, duga, kena, sabet, sekuri...",orang asing,4

In [17]:
# Save to CSV
df.to_csv('Preprocessing/Result Preprocessing.csv', index=False)